[submodule "third_party/cudnn-frontend"]
	path = third_party/cudnn-frontend
	url = git@github.com:NVIDIA/cudnn-frontend.git
[submodule "third_party/triton"]
	path = third_party/triton
	url = git@github.com:ezhulenev/triton.git
	branch = openxla-triton
